* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
hr {
  border: 1px solid black;
}
/* navbar section */
nav {
  background-color: #b35530;
  align-items: center;
  height: 100vh;
  width: 30%;
  position: fixed;
}
#name {
  color: white;
  text-align: center;
  font-weight: 700;
}
#main {
  width: 70%;
  margin-left: 30%;
}
.nav-div {
  margin: auto;
}
.nav-div div {
  margin: 45% 0%;
}
.nav-div ul {
  margin: auto;
}
.nav-div li {
  list-style: none;
  padding: 4% 0%;
  text-align: center;
  font-weight: 700;
}

.nav-div li a {
  text-decoration: none;
  color: white;
}
.nav-div li a:hover {
  text-decoration: underline;
  color: #471a08;
}

ol,
ul {
  padding-left: 0rem;
}
/* Main Section */
main section {
  padding: 15% 10%;
}
/* About Section */
.orange {
  color: #b35530;
}
#about {
  height: 90vh;
}
h4 a {
  margin: 10px;
  text-decoration: none;
}
.number {
  margin-left: 0px;
}
.contact-details {
  display: flex;
  font-size: 40px;
}
.contact-details li {
  list-style: none;
  margin: 10px;
}

.contact-details a {
  text-decoration: none;
}
.contact-details img {
  position: relative;
  top: -5px;
}
.rightside {
  position: relative;
  top: -328px;
  left: 361px;
}
.webimg {
  opacity: 0.8;
}
/* Projetcs section */
.card {
  width: 14rem;
  height: 25rem;
  margin: 10px;
  text-overflow: hidden;
}
/* Skills Section */
.skills-item {
  display: flex;
}
.skills-item li {
  list-style: none;
  margin: 10px;
}

.skills-item li i {
  font-size: 40px;
}
